<p id="notice"><%= notice %></p>

<h1>Filmes indicados</h1>

<table class="table table-striped">
  <tbody>
  <% if @indications.present? %>
    <% @indications.each do |indication| %>
      <tr>
        <td><img src="<%= image_path('user.png')%>" class="imageList"/><p>Indicado por <%= indication.user_indicator.nome %></p></td>
        <td><img src="<%= (indication.movie.poster != 'N/A') ? image_path(indication.movie.poster) : image_path('movie.png')%>" class="imageList"/><p><%= indication.movie.titulo %> (<%= indication.movie.ano %>)</p></td>
        <td><img src="<%= image_path(indication.plataform.image)%>" class="imageList"/><p><%= indication.plataform.nome %></p></td>
        <td style="width: 150px"><%= link_to '<i class="fa fa-info-circle iconList"></i>'.html_safe, indication.movie, class: 'iconWithLink', title:'Mais detalhes' %></td>
      </tr>
    <% end %>
  <% else %>
      <p>Sem Filmes Indicados! :(</p>
  <% end %>
  </tbody>
</table>

<br>

