<p id="notice"><%= notice %></p>

<p>
  <strong>Amigo indicado:</strong>
  <%= @indication.user_indicated.nome%>
</p>

<p>
  <strong>Movie:</strong>
  <%= @indication.movie.titulo %>
</p>

<p>
  <strong>Plataform:</strong>
  <%= @indication.plataform.nome%>
</p>

<%= link_to 'Back', indications_path %>
