<p id="notice"><%= notice %></p>
<h1>Dados da sua Indicação</h1>
<p>
  <strong>Amigo indicado:</strong>
  <%= @indication.user_indicated.nome%>
</p>

<p>
  <strong>Filme: </strong>
  <%= @indication.movie.titulo %> (<%= @indication.movie.ano%>)
</p>

<p>
  <strong>Plataforma:</strong>
  <%= @indication.plataform.nome%>
</p>
<br>
<%= link_to 'Ver minhas indicações', movies_path, class: 'btn-block' %>
