<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @indication.user %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @indication.movie %>
</p>

<p>
  <strong>Plataform:</strong>
  <%= @indication.plataform %>
</p>

<%= link_to 'Back', indications_path %>
