<%= bootstrap_form_with model: user, local: true do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><i class="fa fa-times"></i><%= pluralize(user.errors.count, "erro") %> encontrados:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :nome, placeholder: "Digite seu nome...", label: "Nome"%>
  <%= f.email_field :email, icon: "user", placeholder: "Digite seu email...", label: "E-mail"%>
  <%= f.password_field :password, placeholder: "Digite sua senha..." , label: "Senha" %>
  <%= f.password_field :password_confirmation, placeholder: "Confime sua senha..." , label: "Confime a senha" %>
  <%= f.submit "Salvar", class: 'btn btn-secondary btn-block'  %>
<% end %>