<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if !current_user %>
  <%= link_to 'Fazer Login', login_path %>
<% end %>

<%= link_to 'inicio', root_path %>