<div class="jumbotron">
  <h1 class="display-4"><%= @nome_app %></h1>

  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Sair", logout_path %>
  <% else %>
    <%= link_to "Cadastre-se", signup_path %> or
    <%= link_to "Entrar", login_path %>
  <% end %>
  <p id="notice"><%= notice %></p>
</div>