<h1>Seu amigo <%= @indicator.nome %> te indicou um Filme! </h1>

<table>
  <tbody align="left" valign="middle">
  <tr>
    <td rowspan="7" align="right">
      <img src="<%= (@movie.poster != 'N/A') ? @movie.poster :  @base_url + asset_url('movie.png') %>" class="imageView"/>
    </td>
    <td width="500px"><h2>Título: <%= @movie.titulo %></h2></td>
  </tr>
  <tr>
    <td><p>Ano: <b><%= @movie.ano %></b></p></td>
  </tr>
  <tr>
    <td><p>Gênero: <b><%= @movie.genero %></b></p></td>
  </tr>
  <tr>
    <td><img src="<%= @base_url + asset_url("star.png")%>"/><span> <b><%= @movie.nota %></b></span></td>
  </tr>
  <tr>
    <td><p>Imdb ID: <b><%= @movie.imdb %></b></p></td>
  </tr>
  <tr>
    <td>Plataforma: <img src="<%= @base_url + asset_url(@plataforma.image)%>" width="20px" style="margin-right: 5px"/><span><b><%= @plataforma.nome %></b></span></td>
  </tr>
  <tr>
    <td><p>Detalhes sobre o filme: <%= link_to image_tag(@base_url + asset_url("imdb.png"), style: 'width: 60px;'), "https://www.imdb.com/title/" + @movie.imdb, target: '_blank' %></p></td>
  </tr>
  </tbody>
</table>

<div style="margin: 50px auto; width: 300px"><img src="<%= @base_url + asset_url("teniverdan.png")%>" width="300px"/></div>